#main-content {
    margin: 1vh 15vh;
}

li {
    border-bottom: 1px solid rgb(200, 200, 200);
}

li:hover {
    cursor: pointer;
    background-color:#ffe08a!important;
}

.box {
    background-color: rgb(228, 228, 228);
}

@media (max-width: 1550px) {
    #main-content {
        margin: 1vh 5vh;
    }
  }

@media (max-width: 1080px) {
#main-content {
    margin: 1vh 0.5vh;
}
}

@media (max-width: 769px) {
#main-content {
    margin: 1vh 0.3vh;
}
}
  